body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: blanchedalmond;
    padding: 0;
    margin: 0;
}
#Top{
    background-color: oldlace;
    text-align: center;
    height: 200px;
}
header{
    text-align: center;
    background-color: lightseagreen;
    padding: 10px;
    margin: 10px;
    color: oldlace;
}
.list h3{
    color: seagreen;
}
.list p{
    text-align: center;
    font-style: italic;
}
.details h3{
    background-color: seagreen;
    font-weight: bold;
    color: white;
}
.details li{
    font-size: small;
}