body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: oldlace;
    padding: 10px;
    margin: 0;
}
#Top{
    background-color: oldlace;
    padding: 20px;
    margin: 20px;
    text-align: center;
    height: 100px;
    color: darkslategray;
    font-weight: bold;
}
header{
    text-align: center;
    background-color: seagreen;
    padding: 20px;
    margin: 20px;
    color: white;
    font-style: italic;
    font-weight: bold;
}
.list h3{
    color: seagreen;
    text-align: center;
}

.list li{
    list-style-type: disclosure-closed;
    list-style-position: outside;
    padding: 0;
    line-height: 150%;
    background-color: hsla(146, 50%, 36%,.6);
    margin: auto 10px;
    border-left: 20px solid seagreen;

}
.details h3{
    background-color: seagreen;
    font-weight: bold;
    color: white;
}
.details li{
    font-size: small;
    color: black;
}