body{
    font-family: 'Barlow Semi Condensed', sans-serif;
}
h1{
    background-color: lightgoldenrodyellow;
    text-align: center;
}
h3{
    background-color: seagreen;
    font-weight: bold;
    color: white;
}
li{
    font-size: small;
}